.vscode/**
.vscode-test/**
src/**
**/tsconfig.json
**/.eslintrc.json
**/*.map
.gitignore
.yarnrc
**/webpack.config.js
**/*.ts
**/.prettier*
**/jest.config.*
coverage/**
test/**
sample/**
sample-dist/**
node_modules/**
**/.git/**
**/.github/**
.eslintignore
.eslintrc.js
.prettierignore
.prettierrc
webpack.config.js